In [15]:
import pandas as pd

 ### read the CSV file and make ID the index column

In [16]:
df = pd.read_csv('../../data-samples/auto.csv', 
                 sep=',',
                 index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

### count the number of observations using the method count()

In [17]:
df.count(axis=0)

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

### drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines
- between the two equal observations, you need to choose the last
- check the number of observations again

In [18]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], inplace=True, keep='last')
df.count(axis=0)

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

### work with missing values

- check how many values are missing from each column

In [19]:
missing = df.isnull().sum(axis=0)
missing

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

- drop all the columns with over 500 missing values using the argument thresh,
check how many missing values are in each column

In [20]:
threshold = len(df) - 500
df_cleaned = df.dropna(axis=1, thresh=threshold)
missing_cleaned = df_cleaned.isnull().sum()
missing_cleaned

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

- replace all the missing values in the Refund column with the previous value in
that column for that cell, use the argument method, check how many values
are missing from each column

In [21]:
df['Refund'] = df['Refund'].ffill()
missing_after_fill = df.isnull().sum()
missing_after_fill

CarNumber         0
Make_n_model      0
Refund            0
Fines            60
History         660
dtype: int64


- replace all the missing values in the Fines column with the mean value of this
column (exclude NA/null values when computing the mean value), check how
many values are missing from each column

In [22]:
mean_fines = df['Fines'].mean()
df['Fines'] = df['Fines'].fillna(mean_fines)
missing_after_fill = df.isnull().sum()
missing_after_fill

CarNumber         0
Make_n_model      0
Refund            0
Fines             0
History         660
dtype: int64

### split and parse the make and model

- use the method apply both for splitting and for extracting the values to the new columns Make and Model

- drop the column Make_n_model

In [23]:
df[['Make', 'Model']] = df['Make_n_model'].apply(lambda x: pd.Series(str(x).split(' ', 1)))
df.drop(columns=['Make_n_model'], inplace=True)
df

        CarNumber  Refund         Fines  History    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000      NaN    Ford    Focus
1     E432XX77RUS     1.0   6500.000000      NaN  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000      NaN    Ford    Focus
3    X582HE161RUS     2.0   2000.000000      NaN    Ford    Focus
5    92918M178RUS     1.0   5700.000000      NaN    Ford    Focus
..            ...     ...           ...      ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000      NaN    Ford    Focus
927  M0309X197RUS     1.0  22300.000000      NaN    Ford    Focus
928  O673E8197RUS     2.0    600.000000      NaN    Ford    Focus
929  8610T8154RUS     1.0   2000.000000      NaN    Ford    Focus
930  H419XE197RUS     2.0   8594.586466      2.0  Toyota  Corolla

[725 rows x 6 columns]

In [24]:
df.drop(columns=['History'], inplace=True)
df.to_json('../../data-samples/auto.json', orient='records', indent=4)

In [25]:
df2 = pd.read_json('../../data-samples/auto.json', orient='records')
df2

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
1     E432XX77RUS       1   6500.000000  Toyota    Camry
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
720  Y163O8161RUS       2   1600.000000    Ford    Focus
721  M0309X197RUS       1  22300.000000    Ford    Focus
722  O673E8197RUS       2    600.000000    Ford    Focus
723  8610T8154RUS       1   2000.000000    Ford    Focus
724  H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [26]:
df2.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [27]:
df2['Fines'].mean()

8594.586466165412

In [28]:
df2['Refund'].mean()

1.5172413793103448